.insize{
    max-width:600px;
  }
  .owl-thumbs{}
  .owl-thumbs .owl-thumb-item{
    height:150px;
    width: 100%;
    max-width:150px;
    background: transparent;
    border: none;
    overflow: hidden;
  }
  .owl-thumbs .owl-thumb-item img{
    max-width:100%;
    height:auto;
  }
  .owl-dots{
    position:absolute;
    bottom:170px;
    left:0;
    right:0;
  }